<div class='sideview close'>
  <div class='sideview-controls'>
    <div class='sideview-controls-title' />
    <button class='sideview-controls-close-button icon icon-cross' />
  </div>
  <div class='sideview-iframe-holder' />
</div>
